<h1>Your Cart</h1>

<% if @cart_products.empty? %>
  <p>Your cart is empty</p>
<% else %>
  <% @cart_products.each do |product| %>
    <div>
      <p><%= product.name %></p> 
      <%= button_to "Remove from Cart", cart_path(product), method: :delete %>
    </div>
  <% end %>
  <%= button_to "Buy Now", buy_path, method: :post %>
<% end %>

<%= link_to 'Back', all_products_path(), style: "back_btn" %>