<div class="product_header">
  <h1> YOUR PRODUCTS <h1>
</div>
<hr/>
<% current_user.products.each do |product| %>
  <div class = "product_image-container">
    <p><%= product.name %></p> 
  <%= link_to "Show Product", product_path(product), class: "product_show-btn" %>
     </div>
     <br/>
<% end %>
<br/>
<%= link_to "Create Product", products_new_path, class: "product_create-btn" %>
<br/>
<br/>
<%= link_to "Back to profile", root_path %>


